/*-----------------------------------
  Fonts
-------------------------------------*/
@font-face {
  font-family: 'RothmanPlain';
  src: url('../fonts/RothmanPlain-webfont.eot');
  src: url('../fonts/RothmanPlain-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/RothmanPlain-webfont.woff') format('woff'),
    url('../fonts/RothmanPlain-webfont.ttf') format('truetype'),
    url('../fonts/RothmanPlain-webfont.svg#RothmanPlain') format('svg');
  font-weight: normal;
  font-style: normal;
  }

body {
  background: #fff url(../images/bg.png) repeat-y 0 0;
  font: 100%/1.4em 'Helvetica Neue', Arial, sans-serif;
  color: #404040;
  }

/*-----------------------------------
  Typography

  16px = 1em
  14px = 0.875em
  13px = 0.8185em
  12px = 0.75em

-------------------------------------*/
h1,h2,h3,h4,h5 {
  font-weight: normal;
  margin: 0;
  }
h1 { font-size: 26px; line-height: 30px; margin: 15px 0 5px; }
h2 { font-size: 22px; line-height: 26px; margin: 0 0 10px; }
h3 { font-size: 24px; line-height: 28px; margin: 10px 0; }
h4 { font-size: 22px; line-height: 24px; margin: 10px 0; }
h5 { font-size: 18px; line-height: 18px; margin: 10px 0; }
h6 { font-size: 0.75em; margin: 0 0 5px; }

.post h6 {
  font-weight: bold;
  margin: 20px 0 5px;
  }
.post h2,
.single h2 {
  font-family: ff-meta-serif-web-pro-1,ff-meta-serif-web-pro-2, Georgia, 'Times New Roman', serif;
  font-weight: bold;
  font-size: 1em;
  margin-left: 140px;
  display: block;
  }
.post h2 a {
  color: #404040;
  }
div.title {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  }
  div.title a {
    background: url(../images/me.png) no-repeat 0 0;
    display: block;
    text-indent: -999em;
    width: 120px;
    height: 120px;
    -moz-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    -webkit-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
    }

a {
  color: #1191ad;
  text-decoration: none;
  }
p {
  margin: 0 0 15px;
  }
blockquote {
  display: block;
  margin-left: 20px;
  padding: 0 10px;
  border-left: 1px solid #CCC;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  }
small {
  font-size: 0.75em;
  }
  .post p small {
    margin: -15px 0 0;
    display: block;
    font-style: italic;
    }
    .post p small a {
      font-weight: bold;
      color: #444;
      border-bottom: none;
      }

/*-----------------------------------
  Layout
-------------------------------------*/
#left {
  width: 550px;
  padding-left: 140px;
  padding-bottom: 20px;
  float: left;
  }
#right {
  width: 120px;
  margin-top: 0;
  padding-left: 20px;
  float: left;
  }
.post {
  width: 960px;
  padding-top: 20px;
  }
  .post:first {
    border-top: none;
    }
  .post img {
    margin: 0 0 15px;
    max-width: 100%;
	  vertical-align: bottom;
	  height: auto;
	  width: auto;
    }
.posts,
.single {
  margin-top: 20px;
  }

/*-----------------------------------
  Global
-------------------------------------*/
.about {
  font-size: 0.8185em;
  position: absolute;
  top: 80px;
  left: 20px;
  width: 95px;
  text-align: left;
  color: #fff;
  }
  .about iframe {
    width: 120px!important;
    }
  .about a {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.15);
    font-weight: bold;
    }

/*-----------------------------------
  Post Styling
-------------------------------------*/
.post { font-family: ff-meta-serif-web-pro-1,ff-meta-serif-web-pro-2, Georgia, Times, 'Times New Roman', serif; }
.date { font-family: 'Helvetica Neue', Arial, sans-serif; font-weight: bold; }

.date {
  position: relative;
  text-align: right;
  background: #fff;
  width: 95px;
  height: 120px;
  }
  .date span {
    font-weight: bold;
    font-size: 16px;
    position: absolute;
    left: 5px;
    }
    .date span.month-day {
      bottom: 0;
      }
    .date span.year {
      bottom: 15px;
      font-size: 13px;
      }

.post ul,
.post ol {
  list-style-position: inside;
  display: block;
  margin: 5px 0 5px 40px;
  }
.post ul {
  list-style: disc;
  }
.post ol {
  list-style: decimal;
  }

ul.share {
  list-style: none;
  margin: 0;
  display: block;
  }
  ul.share li {
    float: left;
    }
    ul.share li a {
      font-family: 'Helvetica Neue', Arial, sans-serif;
      background-repeat: no-repeat;
      background-position: 5px 3px;
      color: #404040;
      padding-left: 20px;
      padding-right: 5px;
      font-size: 0.7em;
      height: 20px;
      display: block;
      line-height: 20px;
      }
      ul.share li a#rss {
        background-image: url('data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAN1wAADdcBQiibeAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAADzSURBVCiRlZGxSkJhGIaf78fRyA4SIaGDOYS2eZqiraXRpakLUKupJegSnARvogtwCWoKoqULyCCy0BqOpicU1P9rKILsRzjv9A7fw8v3vjK7KCkRZKIcA8R+XXITyR9A/wl6j+jLLdjJgoTpGEYBslpA/GPMXg283D9AnD/E1zDbJ+DlsFdnELQcCd4G4leR9A6EXez1OQQtjH8EJuYAxn34fEe2DpFiBdRi7+qwtI6kfAcw6qEPTezlKZLehZUshB0Yvn77eUCKZcx+AyYh+naPJDIA6KANyxlHre0bNOyAKsym6MfzT3Lwp153SwsUeekv0ldR4QQi5WEAAAAASUVORK5CYII=');
        }
        ul.share li a#rss:hover {
          background-color: #fdaa52;
          color: #fff;
          }
      ul.share li a#twitter {
        background-image: url('data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAN1wAADdcBQiibeAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAACySURBVCiRzZExCsJQEETfT2IaYxAsAqKlpdjY5DAWFtZ6Ba8QsLT1EhaewE7URkgRkFQKEpWg+RYRzf9dsHGrXXZmZ4YV/lpKSpRRBvw7oW59e8+GcQscUyVYxWHgQaMC8yNM2uC70K/BcA+Pd1JRDN1zYNbJl3ZBe3WGaQhpplnaJLA8qeDLE4IoB38sGQK6VTAFuJrnIII41TJkErYJjJrgWBDe4XCDRQy7q3pA/N/jXqFTMC2EqpRaAAAAAElFTkSuQmCC');
        }
        ul.share li a#twitter:hover {
          background-color: #39cdff;
          color: #fff;
          }

/*-----------------------------------
  Post Stamp Themes
-------------------------------------*/
.post .date { background-repeat: no-repeat; background-position: -10px -10px;}
.post-2011-07-27 .date { background-image: url(../images/poststamps/post-2011-07-17.png); }

@media all and (orientation:portrait) {
  body {
    background: #fff;
    font-size:90%; 
    }

  /*Layout*/
  .post {
    padding-top: 140px;
    width: 100%;
    position: relative;
    }
  #page {
    width: 95%;
    margin: 200px auto 0;
    padding-bottom: 135px;
    position: relative;
    }
  #left,
  #right {
    padding-left: 0;
    float: none;
    width: auto;
    }
  #left {
    padding-bottom: 40px;
    }
  .posts, .single {
    margin-top: 0;
    }
  .post img {
    margin: 0 auto 15px;
    display: block;
    }
  .post small {
    text-align: center;
    }
  div.title {
    font-family: RothmanPlain;
    background: #ff4a4b;
    margin: 0;
    width: 100%;
    height: 180px;
    -moz-box-shadow: inset 0px 1px 0 rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: inset 0px 1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: inset 0px 1px 0 rgba(0, 0, 0, 0.15);
    top: 0;
    z-index: 10;
    }
  div.title a {
    background-image: none;
    text-indent: 0;
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -120px;
    font-size: 200px;
    line-height: 100px;
    color: #fff;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3),
    2px 2px 0px rgba(0, 0, 0, 0.3),
    3px 3px 0px rgba(0, 0, 0, 0.3);
    -moz-transition: text-shadow 0.3s ease-out;
    -o-transition: text-shadow 0.3s ease-out;
    -webkit-transition: text-shadow 0.3s ease-out;
    transition: text-shadow 0.3s ease-out;
    -moz-transform: rotate(6deg);
    -o-transform: rotate(6deg);
    -webkit-transform: rotate(6deg);
    -ms-transform: rotate(6deg);
    transform: rotate(6deg);
    }
  h1.title a:hover {
    text-shadow: -1px 1px 0px rgba(0, 0, 0, 0.3),
    -2px 2px 0px rgba(0, 0, 0, 0.3),
    -3px 3px 0px rgba(0, 0, 0, 0.3);
    }

  /*Posts*/
  h2.title {
    display: block;
    text-align: center;
    position: relative;
    z-index: 10;
    margin: 0 0 10px;
    font-size: 1.5em;
    }
  .date {
    position: absolute;
    top: 0;
    width: 120px;
    text-align: center;
    height: 120px;
    left: 50%;
    margin-left: -60px;
    }

  /*About*/
  .about {
    color: #404040;
    text-shadow: none;
    position: absolute;
    height: 100px;
    padding-top: 30px;
    background-image: url(../images/sprite.png);
    background-repeat: no-repeat;
    background-position: 0 -30px;
    border-top: 4px double #ccc;
    top: auto;
    left: 0;
    bottom: 0px;
    width: 100%;
    }
    .about .inner {
      margin-top: -5px;
      margin-left: 90px;
      }
    .about a {
      color: #404040;
      }
}


/*-----------------------------------
  Markup free clearing
  Details: http: //perishablepress.com/press/2009/12/06/new-clearfix-hack
-------------------------------------*/
.clearfix:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  }

* html .clearfix { height: 1%; } /* IE6 */
*:first-child + html .clearfix { min-height: 1%; } /* IE7 */
