/*-----------------------------------
  Layout
-------------------------------------*/
#masthead .limiter {
  max-width:1200px;
  margin:0px auto;
  padding:0 40px;
  }
#masthead .inner {
  padding:40px 20px 0 0;
  }

.col4 {
  float:left;
  width:25%;
  }

/*-----------------------------------
  Masthead
-------------------------------------*/
#masthead {
  font:500 13px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background:#202020;
  color:#626d75;
  height:35px;
  position:absolute;
  width:100%;
  top:0;left:0;right:0;
  z-index:1000;
  overflow:hidden;
  -webkit-transition:height 400ms cubic-bezier(0.435, 0.705, 0.000, 1.000);
     -moz-transition:height 400ms cubic-bezier(0.435, 0.705, 0.000, 1.000);
      -ms-transition:height 400ms cubic-bezier(0.435, 0.705, 0.000, 1.000);
       -o-transition:height 400ms cubic-bezier(0.435, 0.705, 0.000, 1.000);
          transition:height 400ms cubic-bezier(0.435, 0.705, 0.000, 1.000);
  -webkit-transition-timing-function:cubic-bezier(0.435, 0.705, 0.000, 1.000);
     -moz-transition-timing-function:cubic-bezier(0.435, 0.705, 0.000, 1.000);
      -ms-transition-timing-function:cubic-bezier(0.435, 0.705, 0.000, 1.000);
       -o-transition-timing-function:cubic-bezier(0.435, 0.705, 0.000, 1.000);
          transition-timing-function:cubic-bezier(0.435, 0.705, 0.000, 1.000);
  }
  #masthead.active {
    height:270px;
    }
  #masthead ul,
  #masthead ul li {
    padding:0;
    margin:0;
    list-style:none;
    }

  #masthead a {
    color:#f3734f;
    text-decoration:none;
    font-weight:bold;
    }
    #masthead a:hover {
      color:#f6957a;
      }
      #masthead ul li a {
        display:block;
        }

  #t-toggle {
    background:#303030;
    height:35px;
    display:block;
    position:absolute;
    width:100%;
    bottom:0;left:0;right:0;
    -webkit-transition: background-color 0.1s linear;
       -moz-transition: background-color 0.1s linear;
         -o-transition: background-color 0.1s linear;
            transition: background-color 0.1s linear;
    }
    .active #t-toggle,
    #t-toggle:hover {
      background:#292929;
      }
    #t-toggle span {
      background:transparent url(images/global.png) no-repeat -40px 0;
      position:absolute;
      display:block;
      left:50%;
      bottom:7px;
      width:20px;
      height:20px;
      margin-left:-10px;
      line-height:20px;
      text-align:center;
      text-indent:-999em;
      opacity:0.75;
      -webkit-transition: opacity 0.1s linear;
         -moz-transition: opacity 0.1s linear;
           -o-transition: opacity 0.1s linear;
          transition: opacity 0.1s linear;
      -webkit-border-radius:50%;
              border-radius:50%;
      }
      #t-toggle:hover span    { opacity:1; }
      .active #t-toggle span  { opacity:1; background-position:-20px 0; }

#masthead h2,
#masthead h3 {
  font:500 13px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight:700;
  color:#fff;
  }

#masthead .icon {
  background:transparent url(images/global.png) no-repeat -2px 0;
  width:40px;
  height:40px;
  float:left;
  margin:10px 5px 20px 0;
  display:block;
  text-indent:-999em;
  }
#masthead .icon.home          { background-position:0 -20px; }
#masthead .icon.twitter       { background-position:-45px -20px; }
#masthead .icon.github        { background-position:-90px -20px; }
#masthead .icon.home:hover    { background-position:-135px -20px; }
#masthead .icon.twitter:hover { background-position:-180px -20px; }
#masthead .icon.github:hover  { background-position:-225px -20px; }

/*-----------------------------------
  Mobile
-------------------------------------*/
@media only screen and (max-width:640px) {
  .slide-1.active .presenting {
    margin-top: 60px;
  }
  .limiter {
    padding: 0 20px;
    }
  .col4 {
    width:100%;
    }
   .inner {
    padding:10px 0 0 0;
    }
   .inner h2 {
    padding-top:10px;
    }
  #masthead.active {
    height:440px;
    }
}
