/* ------------------------------------------
  Reset ♥
  http://meyerweb.com/eric/tools/css/reset/
  v2.0 | 20110126
  License: none (public domain)
---------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  font-size:100%;
  font:inherit;
  vertical-align:baseline;
  }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display:block;
  }
body { line-height:1; }
ol, ul { list-style:none;  }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }
/* tables still need 'cellspacing="0"' in the markup */
table { border-collapse: collapse; border-spacing:0; }
/* remember to define focus styles. Hee Haw */
:focus { outline:0; }
*, *:after, *:before {
  -webkit-box-sizing:border-box;
     -moz-box-sizing:border-box;
          box-sizing:border-box;
  }
body, textarea, input {
  margin:0;
  padding:0;
  -webkit-font-smoothing:antialiased;
  }
*::-webkit-scrollbar {
  background:#fff;
  width:15px;
  }
*::-webkit-scrollbar-thumb {
  background:#ccc;
  border-radius:15px;
  border:5px #fff solid;
  }

input,
textarea,
body {
  background:#626d75;
  font:500 13px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color:#626d75;
  }
input {
  max-width:100%;
  vertical-align:middle;
  background:#fff;
  color:#000;
  border:1px solid #CCC;
  border-color:#CCC #DDD #DDD;
  width:100%;
  height:50px;
  padding:10px;
  -webkit-box-shadow: inset #DDD 0px 1px 3px;
     -moz-box-shadow: inset #ddd 0px 1px 3px;
          box-shadow: inset #DDD 0px 1px 3px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  }

h1,h2,h3,h4,h5,h6 {
  font-weight:bold;
  }

h1 {
  font-size:36px;
  line-height:1.25em;
  margin:0 0 30px;
  }
h2 {
  font-size:28px;
  line-height:1.333em;
  margin:0 0 20px;
  }

h3 {
  font-size:15px;
  line-height:1.333em;
  margin:0 0 10px;
  }

h4 {
  font-size: 12px;
  line-height: 1.666em;
  margin:0 0 10px;
  }

a {
  color:#10a1cf;
  text-decoration:none;
  }
  a:hover {
    color:#1bbaec;
    }

table {
  width:100%;
  background-color:transparent;
  border-collapse:collapse;
  border-spacing:0;
  margin-bottom:20px;
  }
  th,
  td {
    padding:8px;
    line-height:20px;
    text-align:left;
    vertical-align:top;
    border-bottom:1px solid #eee;
    }
    .reset th,
    .reset td {
      padding:8px 0;
      }
    td.date {
      text-align:right;
      }

  th {
    font-weight: bold;
    }
  thead th {
    vertical-align: bottom;
    }
img {
  max-width:100%;
  }

pre,
code {
  font-family:Consolas, Menlo, 'Liberation Mono', Courier, monospace;
  word-wrap:break-word;
  -webkit-font-smoothing: subpixel-antialiased;
  }
pre {
  font-size:13px;
  line-height:1.25em;
  background:#f8f8f8;
  color:#404040;
  padding:20px;
  margin:20px 0;
  overflow: auto;
  -webkit-box-shadow:inset 0 2px 2px rgba(0,0,0,0.15);
          box-shadow:inset 0 2px 2px rgba(0,0,0,0.15);
  -webkit-border-radius:4px;
          border-radius:4px;
  }
code {
  font-size:14px;
  border:0;
  padding:0 2px;
  margin:0 2px;
  background:rgb(255,255,255);
  background:rgba(255, 255, 255, 0.40);
  box-shadow:0 -1px 0 3px rgba(255, 255, 255, 0.40);
  }
pre code {
  font-size:13px;
  line-height:1.25em;
  background:transparent;
  box-shadow:none;
  border:none;
  padding:0;
  margin:0;
  }
p {
  margin:0 0 5px;
  }
strong {
  font-weight:bold;
  }

.dark {
  background:#202020;
  color:#fff;
  }

/* Columns
------------------------------------------------------- */
.col0    { float:left; width:04.1666%; }
.col1    { float:left; width:08.3333%; }
.col2    { float:left; width:16.6666%; }
.col3    { float:left; width:25.0000%; }
.col4    { float:left; width:33.3333%; }
.col5    { float:left; width:41.6666%; }
.col6    { float:left; width:50.0000%; }
.col7    { float:left; width:58.3333%; }
.col8    { float:left; width:66.6666%; }
.col9    { float:left; width:75.0000%; }
.col10   { float:left; width:83.3333%; }
.col11   { float:left; width:91.6666%; }
.col12   { width:100%; }
.margin0  { margin-left:04.1666%; }
.margin1  { margin-left:08.3333%; }
.margin2  { margin-left:16.6666%; }
.margin3  { margin-left:25.0000%; }
.margin4  { margin-left:33.3333%; }
.margin5  { margin-left:41.6666%; }
.margin6  { margin-left:50.0000%; }
.margin7  { margin-left:58.3333%; }
.margin8  { margin-left:66.6666%; }
.margin9  { margin-left:75.0000%; }
.margin10 { margin-left:83.3333%; }
.margin11 { margin-left:91.6666%; }
.margin12 { margin-left:100.0000%; }

/* Padding
------------------------------------------------------- */
.pad1    { padding:10px; }
.pad2    { padding:20px; }

.icon {
  background:transparent url(images/global@2x.png) no-repeat 0 0;
  background-size:355px 60px;
  width:40px;
  height:40px;
  float:left;
  margin:10px 5px 0 0;
  display:block;
  text-indent:-999em;
  }
  .icon.home          { background-position:0 -20px; }
  .icon.twitter       { background-position:-45px -20px; }
  .icon.github        { background-position:-90px -20px; }
  .icon.blog          { background-position:-270px -20px; }
  .icon.home:hover    { background-position:-135px -20px; }
  .icon.twitter:hover { background-position:-180px -20px; }
  .icon.github:hover  { background-position:-225px -20px; }
  .icon.blog:hover    { background-position:-315px -20px; }

@media only screen and (max-width:640px) {
  .slide-1.active .presenting {
    margin-top: 60px;
  }
  #masthead .limiter {
    padding: 0 20px;
    }
  #masthead .inner {
    padding:10px 0 0 0;
    }
}

/* Utils
------------------------------------------------------- */
.centered {
  display:block;
  text-align:center;
  }

/*Markup free clearing
Details: http: //perishablepress.com/press/2009/12/06/new-clearfix-hack*/
.clearfix:after {
  content:'';
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
  }
* html .clearfix { height:1%; }
*:first-child + html .clearfix { min-height:1%; }

.fill-dark { background:#202020; }

.round { border-radius:4px; }

/* Mobile Layout
------------------------------------------------------- */
@media only screen and (max-width:640px) {
  .col1,
  .col2,
  .col3,
  .col4,
  .col5,
  .col6,
  .col7,
  .col8,
  .col9,
  .col10,
  .col11,
  .col12 { width:100%; max-width:100%; }
  .margin0,
  .margin1,
  .margin2,
  .margin3,
  .margin4,
  .margin5,
  .margin6,
  .margin7,
  .margin8,
  .margin9,
  .margin10,
  .margin11,
  .margin12 { margin-left:0; }
  .hide-mobile { display:none; }
  .show-mobile { display:block; }
  }

