 <div id='masthead'>
  <div class='limiter clearfix'>
    <div class='col col4'>
      <div class='inner'>
        <h2>Tristen Brown</h2>
        <p>A Coder/Designer at <a href='http://mapbox.com'>MapBox.</a></p>
        <a href='http://tristen.ca' class='icon home' title='Homepage'>Home</a>
        <a href='http://twitter.com/fallsemo' class='icon twitter' title='Twitter'>Twitter</a>
        <a href='http://github.com/tristen' class='icon github' title='GitHub'>Github</a>
      </div>
    </div>
    <div class='col'>
      <div class='inner'>
        <h3>Projects</h3>
        <ul id='tristen-projects'></ul>
      </div>
    </div>
    <a href='#' id='t-toggle'><span>t</span></a>
  </div>
</div>
