---
layout: default
section: Blog
---

<style>
  {{page.css}}
</style>

<div class='limiter blog'>
  <div class='headline'>
    <img src='{{site.baseurl}}/{{page.headline}}' alt='{{page.title}}' />
    <h1>{{page.title}}</h1>
  </div>
  <div class='prose'>
    {{content}}
  </div>
</div>
<div class='end'>
  <div class='limiter'>
    <ul class='social clearfix'>
      <li>
        <a
          href='http://news.ycombinator.com/submit'
          class='hn-share-button'
          data-title='{{page.title}}'
          data-url='http://tristen.ca{{page.url}}'>
          Vote on HN
        </a>
      </li>
      <li>
        <a
          href='https://twitter.com/share'
          class='twitter-share-button'
          data-text='{{page.title}}'
          data-url='http://tristen.ca{{page.url}}'
          data-via='fallsemo'
          data-count='none'>
          Tweet
        </a>
      </li>
    </ul>
    Posted on {{page.date | date:"%b %d %Y"}} &nbsp; | &nbsp;<a href='{{site.baseurl}}/blog/'>Blog</a>
  </div>
</div>
<script>
  // Hacker News
  (function(d, t) {
    var g = d.createElement(t),
        s = d.getElementsByTagName(t)[0];
    g.src = '//hnbutton.appspot.com/static/hn.min.js';
    s.parentNode.insertBefore(g, s);
  }(document, 'script'));

  // Twitter
  !function(d, s, id ){
    var js, fjs=d.getElementsByTagName(s)[0];
    if (!d.getElementById(id)) {
      js = d.createElement(s);
      js.id = id;
      js.src='//platform.twitter.com/widgets.js';
      fjs.parentNode.insertBefore(js, fjs);
    }}(document, 'script', 'twitter-wjs');
</script>
