<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8 />
   <title>tristen</title>
   <meta name='author' content='Tristen Brown' />
   <meta name='description' content='Tristen Brown' />
   <meta name='google-site-verification' content='jmhLcebCMdTnya0t5dvlbh9B9fcYjgRQql5_paRMaf0' />
   <meta name='msvalidate.01' content='3AFEBD30121D87D4E52D808BFF63D5E0' />
   <link rel='shortcut icon' href='images/favicon.ico' type='image/x-icon' />
   <link rel='alternate' type='application/atom+xml' title='Tristen Brown' href='http://feeds.feedburner.com/fallsemo'>
   <link rel='stylesheet' href='/css/reset.css' type='text/css' media='all' />
   <link rel='stylesheet' href='/css/syntax.css' type='text/css' media='screen, projection' />
   <link rel='stylesheet' href='/css/style.css' type='text/css' media='screen, projection' />
   <script type='text/javascript' src='http://use.typekit.com/auq5blk.js'></script>
   <script type='text/javascript'>try{Typekit.load();}catch(e){}</script>
</head>
<body>
  <div class='header limiter clearfix'>
    <h1 class='title'><a href='/'>TRISTEN</a></h1>
  </div>
  <div class='limiter clearfix'>
    <div class='about clearfix'>
      <span class='avatar'></span><p>I work at <a href='http://developmentseed.org'>Development Seed</a> in Washington DC. <br /> You can also find me on<a href='http://twitter.com/#!/fallsemo' class='twitter'> Twitter</a>,<a href='http://pinboard.in/u:tristen' class='pinboard'> Pinboard</a> or<a href='http://github.com/tristen' class='github'> Github</a></p>
    </div>
    <div id='main'>
      {{ content }}
    </div>
  </div>
  <script>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-24600152-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</body>
</html>

