---
---
<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8 />
  <meta name='author' content='Tristen Brown' />
  <meta name='description' content='Tristen Brown' />
  <meta name='google-site-verification' content='jmhLcebCMdTnya0t5dvlbh9B9fcYjgRQql5_paRMaf0' />
  <meta name='msvalidate.01' content='3AFEBD30121D87D4E52D808BFF63D5E0' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' />
  <meta name='apple-mobile-web-app-status-bar-style' content='white' />
  <meta name='apple-mobile-web-app-capable' content='yes' />
  <title>tristen {% if page.url != '/index.html' %}| {{page.title}}{% endif %}</title>
  <link rel='shortcut icon' href='{{site.baseurl}}/images/favicon.ico' type='image/x-icon' />
  <link rel='alternate' type='application/rss+xml' title='RSS' href='{{site.url}}/blog/blog.rss' />
  <link rel='stylesheet' href='{{site.baseurl}}/global.css' />
  <link rel='stylesheet' href='{{site.baseurl}}/site.css' />
  <link href='http://api.tiles.mapbox.com/mapbox.js/v0.6.7/mapbox.css' rel='stylesheet' />
  <script src='//use.typekit.net/auq5blk.js'></script>
  <script>try{Typekit.load();}catch(e){}</script>
  <script src='http://api.tiles.mapbox.com/mapbox.js/v0.6.7/mapbox.js'></script>
  <script src='{{site.baseurl}}/ext/jquery.min.js'></script>
  <script src='{{site.baseurl}}/site.js'></script>
</head>
<body class='{{page.class}}{% if page.url == '/index.html' %}front{% endif %}'>
  {% include masthead.html %}
  {{ content }}
  <script>
    var tristen = new Tristen();
    tristen.masthead();
  </script>
  <script>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-15498769-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</body>
</html>
